#awesome{
   width: 1170px;
   height: 665px;
   margin: 50px auto 58px auto;
   margin-top: 50px;
}

.awesome__title{
   font-family: "Raleway", sans-serif;
   font-size: 36px;
   line-height: 42px;
   font-weight: 400;
   text-align: center;
   padding-top: 52px;
   margin-bottom: 40px;
}

.awesome__title::after{
   content: "";
   display: block;
   background-color: #EC7979;
   width: 170px;
   height: 1px;
   margin: 52px auto 0;
}

.awesome__text{
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   text-align: center;
   color: #86878B;
   font-style: normal;
   margin-bottom: 71px;
   margin-top: 40px;
}

.awesome__container{
   width: 1170px;
   height: 383px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.awesome__child{
   width: 370px;
   height: 383px;
   }

.awesome__image{
   width: 170px;
   height: 170px;
   margin-left: 106px;
}

.awesome__child-title{
   font-family: "Open Sans", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   text-align: center;
   margin-bottom: 42px;
}

.awesome__child-text{
   font-family: "Raleway", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
}

@media (max-width:1500px){
   #awesome{
      width: 992px;
      height: 518px;
      margin: 50px auto 60px auto;
   }
   
   .awesome__title{
      font-size: 24px;
      line-height: 28px;
      padding-top: 46px;
      margin-bottom: 32px;
   }
   
   .awesome__title::after{
      width: 142px;
      margin: 46px auto 0;
   }
   
   .awesome__text{
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 32px;
      margin-top: 32px;
   }
   
   .awesome__container{
      width: 994px;
      height: 318px;
   }
   
   .awesome__child{
      width: 317px;
      height: 318px;
      }
   
   .awesome__image{
      width: 147px;
      height: 147px;
      margin-left: 87px;
   }
   
   .awesome__child-title{
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 17px;
   }
   
   .awesome__child-text{
      font-size: 14px;
      line-height: 16px;
   }
}

@media (max-width:1072px){
   #awesome{
      width: 288px;
      height: 1199px;
      margin: 0px auto 60px auto;
   }
   
   .awesome__title{
      font-size: 18px;
      line-height: 21px;
      padding-top: 49.5px;
      margin-bottom: 25px;
   }
   
   .awesome__title::after{
      width: 134px;
      margin: 49.5px auto 0;
   }
   
   .awesome__text{
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 50px;
      margin-top: 25px;
   }
   
   .awesome__container{
      width: 288px;
      height: 974px;
      flex-direction: column;
   }
   
   .awesome__child{
      width: 288px;
      height: 318px;
      }
   
   .awesome__image{
      margin-left: 69px;
   }
   
   .awesome__child-title{
      margin-bottom: 9px;
      padding: 28.5px 0;
   }
   
}





